body {
  background-color: #F1F5FF;
}


.well-lg {
    background-color: #FFFFFF;
    border-radius: 15px;
}

.pads {
  padding: 20px 0px;
}

.linkto :hover {
  opacity: 0.8;
}

.sig {
color: #4E9EE8;

}

.sig2 {
  color: #966FD6;
}
